# --- Archivos de LOGS y Temporales de Vivado (BASURA) ---
*.jou
*.log
*.vdi
*.str
*.os
*.backup.jou
*.backup.log
*.debug

# --- Carpetas generadas automáticamente (BASURA GIGANTE) ---
.Xil/
.cache/
.hw/
.ip_user_files/
.runs/
.sim/
# Ignora carpetas de simulación específicas dentro del proyecto
*/sim_1/

# --- Archivos de salida de compilación (Binarios pesados) ---
# Normalmente no se suben, se generan al compilar
*.bit
*.bin
*.dcp
*.wdb

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- EXCEPCIONES IMPORTANTES (Asegurar que esto SÍ se suba) ---
# (Aunque con la lista negra esto se guarda solo, es bueno tenerlo claro)
# El proyecto y el código fuente se guardarán automáticamente.